@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
  background-color: #E5E5E5;
} */

.afr-shadow {
  box-shadow: 14px 20px 344px rgba(0, 0, 0, 0.15), 0px 7.7037px 109.57px rgba(0, 0, 0, 0.02), 0px 1.62963px 28.0296px rgba(0, 0, 0, 0.015);
}

.afr-scrollbar::-webkit-scrollbar {
  width: 15px;
  padding: 0 3px;
}

.afr-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.afr-scrollbar::-webkit-scrollbar-thumb {
  background-color: #F2F2F2;
  border: 5px solid white;
  border-radius: 6px;
}